.delete-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.delete-modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
  z-index: 1000;

  p {
    margin: 1rem 0rem;
  }
}

@media (min-width: 768px) {
  .delete-modal-content {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
    .delete-modal-content {
      width: 100%;
    }
  }
