@use "../utilities/variables" as vars;
@use "../utilities/mixins" as mixins;

.booking-page {
  display: flex;
  flex-direction: column;
  gap: vars.$calendar-gap;
  padding: vars.$calendar-padding;
  color: #fff;

  
  .time-slot.disabled {
    text-decoration: line-through;
    pointer-events: none;
    color: #777;
  }

  .calendar-section,
  .booking-section {
    @include mixins.calendar-section-style;
  }

  .calendar-title {
    @include mixins.calendar-title-style;
  }

  .calendar-header {
    @include mixins.calendar-header-style;
  }

  .week-days-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .arrow-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    .week-days {
      display: flex;
      gap: 0.5rem;

      .day-circle {
        @include mixins.day-circle-style;

        .day-name {
          font-size: 0.75rem;
          text-transform: lowercase;
        }

        .day-number {
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
  }

  .time-slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;

    .time-slot {
      @include mixins.time-slot-style;

      &.selected {
        background-color: vars.$day-circle-selected-bg;
        font-weight: bold;
        border: none;
      }
    }

    &.empty {
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      color: #ccc;
      font-size: 1rem;
      padding: 1rem;
    }
  }

  .service-options {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .top-options {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .service-options-choice,
      .service-tire-quantity {
        background-color: #232626;
        border-radius: 4px;
      }
    }

    .bottom-option {
      display: flex;
      justify-content: center;

      .service-valves-optional {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
      }
    
      .service-valves-optional label {
        display: flex;
        align-items: center;
        border: 2px solid #ccc;
        background-color: #232626;
        padding: 0.8rem 0.5rem;
        border-radius: 4px;
        font-size: 0.8rem;
        margin-bottom: 0rem;
      }
    
      .service-valves-optional input[type="checkbox"] {
        appearance: none;
        width: 16px;
        height: 16px;
        margin-left: 1rem;
        border: 1px solid #fff;
        background: none;
        cursor: pointer;
        position: relative;
      }
      
      input[type="checkbox"]:checked {
        background: none;
      }
      
      input[type="checkbox"]:checked::after {
        content: '✔';
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  

  .confirm-button {
    @include mixins.confirm-button-style;
  }

  .car-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: vars.$calendar-gap;
  }

  .car-count-box {
    background-color: rgba(35, 38, 38, 0.8);
    padding: 1rem;
    border-radius: vars.$calendar-border-radius;

    h2 {
      margin: 0 0 0.75rem;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .car-count-selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(35, 38, 38, 0.7);
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 0.5rem;

      button {
        background: none;
        border: none;
        color: #fff;
        font-size: 1.25rem;
        cursor: pointer;
        padding: 0.25rem 0.75rem;
      }

      span {
        font-size: 1.25rem;
        font-weight: bold;
        width: 2rem;
        text-align: center;
      }
    }
  }

  .car-service-box {
    border-radius: vars.$calendar-border-radius;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: #ccc;
    }

    .optional-service {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.9rem;

      input {
        transform: scale(1.2);
        accent-color: #1a73e8;
      }
    }
  }

  .booking-section {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;

    .car-service-title {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
      text-align: center;
    }

    .car-service-box-information-box {
      background-color: rgba(35, 38, 38, 0.8);
      padding: 0.5rem;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    .car-service-box-information {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

// Tablet: 768px–1023px
@media (min-width: 768px) and (max-width: 1023px) {
  .booking-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 5%;

    .calendar-section {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50px;

      .calendar-title,
      .calendar-header,
      .week-days-wrapper,
      .time-slots,
      .confirm-button {
        align-self: center;
      }

      .calendar-header {
        .month-label {
          font-size: 1.2rem !important;
        }
      }

      .calendar-title {
        font-size: 2rem !important;
        margin-bottom: 1.5rem !important;
      }
    }

    .confirm-button {
      width: 200px !important;
    }

    .week-days-wrapper {
      gap: 0rem;

      .arrow-btn {
        font-size: 1.5rem;
      }

      .week-days {
        gap: 1rem;

        .day-circle {
          width: 45px;
          height: 45px;

          .day-number {
            font-size: 1.2rem !important;
          }
        }
      }
    }

    .car-service-box-information-box {
      width: 300px;
    }

    .time-slots {
      display: grid;
      grid-template-columns: repeat(4, 1fr) !important;
      justify-content: center;
      gap: 0.75rem;
      margin-bottom: 1.5rem;

      .time-slot {
        width: 80px;
        text-align: center;
      }

      &.empty {
        text-align: center;
        color: #ccc;
        font-size: 1rem;
        padding: 1rem;

        .empty {
          font-size: 2rem;
        }
      }
    }

    .booking-section {
      flex: 2;
      max-width: 320px;
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .car-section-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .car-count-box {
        grid-column: span 2;
      }
    }

    .car-service-box {
      .service-options {
        display: grid;
        grid-template-columns: auto 120px;
        margin-left: 2.3rem;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
      

        .top-options {
          display: contents;
        }

        .service-options-choice {
          grid-column: 1;
        }

        .service-tire-quantity {
          grid-column: 2;
        }

        .bottom-option {
          grid-column: 1 / span 2;
          display: flex;
          justify-content: center;

          .service-valves-optional {
            width: 180px;
            max-width: 100%;
          }
        }
      
        .service-valves-optional label {
          width: 200px;
          padding: 0.8rem 1rem;
          height: auto;
          font-size: 0.9rem;
          gap: 1rem;
        }
      
        .service-valves-optional input[type="checkbox"] {
          width: 25px;
          height: 23px;
        }
        }
      }
      .service-options-choice {
        justify-self: start;
        border-radius: 4px;
        
        .dropdown {
          width: 145px;
          border-radius: none;
          
          &-header {
            font-size: 0.9rem;
            padding: 0.8rem 0.45rem;
          }
        }
      }
      
  }
}

// Desktop: 1024px+
@media (min-width: 1024px) {
  .booking-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8%;
    column-gap: 3rem;
  }

  .day-number {
    font-size: 1.3rem !important;
  }

  .car-service-box-information-box {
    width: 450px;
  }

  .calendar-section {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .calendar-header,
  .week-days-wrapper,
  .time-slots {
    align-self: center;
  }

  .calendar-header {
    .month-label {
      font-size: 1.4rem !important;
    }
  }

  .confirm-button {
    width: 200px !important;
    align-self: left;
    font-size: 1rem !important;
  }

  .calendar-title {
    margin-left: -5rem !important;
    font-size: 2.5rem !important;
    margin-bottom: 2rem !important;
  }

  .week-days-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .arrow-btn {
      font-size: 1.8rem !important;
    }

    .week-days {
      display: flex;
      justify-content: center;
      gap: 0.75rem;

      .day-circle {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }

  .time-slots {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    justify-content: center;
    gap: 0.75rem;
    padding-top: 1rem;
    max-width: calc(6 * 52px + 5 * 0.75rem);

    .time-slot {
      width: 69px;
      padding: 0.5rem;
      text-align: center;
    }

    &.empty {
      text-align: center;
      color: #ccc;
      font-size: 1rem;
      padding: 1rem;

      .empty {
        font-size: 2rem;
      }
    }
  }

  .booking-section {
    max-width: 450px;
    width: 100%;
    padding: 0rem !important;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 6rem !important;
  }

  .car-service-box {
    select {
      max-width: 100% !important;
      font-size: 1rem !important;
    }

    .service-valves-optional label {
      padding: 0.8rem 0.7rem;
      width: 190px;
      justify-content: space-between;
      font-size: 1rem !important;
    }

    .car-service-box-information {
      padding: 1rem;
      max-width: 800px;
      width: 430px;
    }

    .service-options {
      display: grid !important;
      grid-template-columns: 200px 200px;
      grid-template-rows: auto auto;
      justify-content: center;
      align-items: center;
      column-gap: none;
      row-gap: vars.$calendar-gap;

      .top-options {
        grid-column: 1 / span 2;
        max-width: 410px;
        display: contents;
      }
      .service-options-choice { grid-column: 1; }
      .service-tire-quantity   { grid-column: 2; }

      .bottom-option {
        grid-column: 1 / span 2;
        display: flex;
        justify-content: center;
      }
    }
    .service-options-choice {
      justify-self: start;
      border-radius: 10px;

      .dropdown {
        width: 190px;
        border-radius: none;
        
        &-header {
          font-size: 1rem;
        }
      }
    }
    .service-valves-optional {
      justify-self: end;
      margin-top: 0rem;
      width: 190px; 
    }
  }
  
  .car-service-title {
    text-align: left !important;
    padding-left: 0.9rem !important;
  }
}

