@use "../utilities/variables" as vars;
@use "../utilities/mixins" as mixins;

.services-page {
  padding: vars.$services-padding;
  color: vars.$white-color;
  text-align: center;

  .services-title {
    @include mixins.service-title-style(vars.$services-title-font-size, vars.$services-title-margin-bottom, vars.$services-title-font-weight);
  }

  .services-grid {
    display: flex;
    flex-direction: column;
    gap: vars.$gap-medium;
  }

  .service-card {
    text-align: left;
    @include mixins.service-card-style(vars.$services-card-bg-color, vars.$services-card-padding, vars.$services-card-border-radius);

    .service-name {
      font-size: vars.$services-name-font-size;
      margin-bottom: vars.$services-name-margin-bottom;
      font-weight: vars.$services-name-font-weight;
    }

    .service-description {
      font-size: vars.$services-description-font-size;
      margin-bottom: vars.$services-description-margin-bottom;
    }

    .service-price {
      font-size: vars.$services-price-font-size;
      font-weight: vars.$services-price-font-weight;
      margin-bottom: vars.$services-price-margin-bottom;
      margin-top: vars.$services-price-margin-bottom;
    }

    .service-button {
      background-color: transparent;
      color: vars.$services-button-color;
      font-size: vars.$services-button-font-size;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: vars.$hover-color;
      }
    }
  }

  .service-icon {
    height: 40px;
    width: auto;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .services-page {
    .services-title {
      font-size: 2rem;
      text-align: left;
    }

    .services-grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }

    .service-card {
      flex: 0 1 calc(45% - 1rem);
    }
  }

  .service-icon {
    max-width: 200px;
  }
}

@media (min-width: 1024px) {
  .services-page {
    .services-title {
      font-size: 2.5rem;
      margin-left: 2.6rem;
    }

    .services-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin: 0 auto;
      border-radius: 30px;
    }

    .service-card {
      .service-name {
        font-size: 1.5rem;
      }

      .service-description {
        font-size: 1rem;
      }

      .service-price {
        font-size: 1.25rem;
      }

      .booking-button {
        font-size: 1.1rem;
      }
    }
  }
}