@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

.notfound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $padding-section;
  color: $white-color;

  .notfound-content {
    text-align: left;
  }

  .notfound-title {
    font-size: $notfound-title-font-size;
    font-weight: 400;
    color: $white-color;
  }

  .notfound-subtitle {
    font-size: $notfound-subtitle-font-size;
    font-weight: 400;
    margin-top: $gap-small;
    max-width: 800px;
    width: 100%;
  }

  .notfound-image img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: $gap-medium;
  }

  .notfound-button {
    display: inline-block;
    margin-top: $gap-large;
    padding: $notfound-button-padding;
    border: 2px solid $white-color;
    color: $white-color;
    border-radius: $notfound-button-border-radius;
    text-decoration: none;
    @include button-hover-effect($notfound-button-hover-bg);
    max-width: 250px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .notfound-container {
    flex-direction: row;
    padding: $gap-large;
  }

  .notfound-title {
    font-size: 3rem !important;
  }

  .notfound-image img {
    max-width: 400px !important;
  }

  .notfound-button {
    padding: 0.75rem 1.5rem;
  }
}