@use "../../utilities/variables" as vars;
@use "../../utilities/mixins"  as mixins;

.manage-orders-container {
  padding: 20px;
  color: red;

  .manage-orders-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .manage-orders-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .add-order-button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .filter-dropdown {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .orders-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
    }
  }

  .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
  
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    select,
    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }
  
    select:focus,
    input:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  .modal {
    @include mixins.modal-overlay;
  }
  
  .modal-content {
    @include mixins.modal-content;
  }

  .close-modal-button {
        @include mixins.modal-buttons;
        @include mixins.button-hover-effect(vars.$primary-color);
    }

      .close-modal-button:hover {
        color: white;
    }

  .time-slot.disabled {
  background-color: #f8d7da;
  color: #721c24;
  text-decoration: line-through;
  pointer-events: none;
  opacity: 0.6;
}
}