@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root.admin-root {
  background-color: #F9FAFF;
}

body {
  font-family: $font-family;
  color: $text-color;
   background-image: linear-gradient(to left bottom, #232626, #535556, #898a8b, #c2c3c3, #ffffff);
}
.dashboard-container {
  background: none;
}