@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background:
    linear-gradient(90deg, #132D3E 0%, #2C3536 47%, #BCBDB4 84%);
}
.dashboard-container {
  background: none;
}