.dropdown {
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: 0.6rem;

  &-header {
    background-image: url('../../assets/icons/down-chevron.png');
    background-color: rgba(35, 38, 38, 0.8);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 12px 12px;
    color: #ccc;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 1.5rem;

  }

  &-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(35, 38, 38, 1);
    border-radius: 4px;
    max-height: 110px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 0.4rem;
  }

  &-item {
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.selected {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.disabled {
      background: transparent;

      color: #777;
      cursor: not-allowed;
      pointer-events: none;
      text-decoration: line-through;
    }
  }
}

.dropdown-header img {
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
  vertical-align: middle;
}

.dropdown-search {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #ccc;
}


.dropdown-search:hover,
.dropdown-search:focus {
  background-color: #f9f9f9;
}

// Tablet styles
@media (min-width: 768px) {

    .dropdown {

    &-header {
      font-size: 0.9rem;
      padding: 0.75rem;
    }

    &-list {
      font-size: 0.9rem;
      margin-top: 0.9rem;
      max-height: 200px;
    }

    &-item {
      padding: 0.75rem;
    }
  }
}

  // PC styles
  @media (min-width: 1024px) {

    .dropdown {

    &-header {
      font-size: 1rem;
      padding: 0.8rem 0.3rem;
    }

    &-list {
      margin-left: -3rem;
      width: 300px;
    }

    &-item {
      padding: 1rem;
    }
  }
}
