@use "../utilities/variables" as vars;

.footer {
  margin-top: 10rem;
  color: vars.$white-color;
  text-align: center;
  padding: 2rem;
}

.admin-footer {
  background-color: #F9FAFF;
  color: #333;
}