* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background: linear-gradient(90deg, #132D3E 0%, #2C3536 47%, #BCBDB4 84%);
}

.dashboard-container {
  background: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.navbar .navbar-logo img {
  height: 7rem;
  width: auto;
}
.navbar .navbar-links {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  right: 0;
  left: 20px;
  background-color: #232626;
  border-radius: 5px;
  max-width: 90%;
  width: auto;
  padding: 0;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.navbar .navbar-links.active {
  display: flex;
  opacity: 1;
}
.navbar .navbar-links a,
.navbar .navbar-links button {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
.navbar .navbar-links a:hover,
.navbar .navbar-links button:hover {
  color: #3A7EF9;
}
.navbar .navbar-links a.active,
.navbar .navbar-links button.active {
  color: #3A7EF9;
}
.navbar .hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.navbar .hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease;
}
.navbar .hamburger.active {
  transform: rotate(90deg);
}
.navbar .hamburger.active div:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.navbar .hamburger.active div:nth-child(2) {
  opacity: 0;
}
.navbar .hamburger.active div:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 2rem;
    z-index: 1000;
  }
  .navbar .navbar-logo {
    margin: auto 1rem;
  }
  .navbar .navbar-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: static;
    background: none;
    transform: none;
    opacity: 1;
  }
  .navbar .navbar-links .navbar-center {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 1;
  }
  .navbar .navbar-links .navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }
  .navbar .hamburger {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-links a,
  .navbar-links button {
    font-size: 1.2rem;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 1rem;
}
.home-container .home-header {
  text-align: center;
}
.home-container .home-header .home-title {
  font-size: 3rem;
  font-weight: 400;
}
.home-container .home-header .home-subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.home-container .home-header .home-buttons {
  margin: 1rem 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home-container .home-header .home-buttons .btn-primary {
  background-color: #1F201F;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  padding: 0.5rem 1rem;
}
.home-container .home-header .home-buttons .btn-secondary {
  position: relative;
  overflow: hidden;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  transition: color 0.3s ease;
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.home-container .home-header .home-buttons .btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3A7EF9;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.home-container .home-header .home-buttons .btn-secondary:hover {
  color: #FFFFFF;
}
.home-container .home-header .home-buttons .btn-secondary:hover::before {
  transform: scaleX(1);
}
.home-container .how-it-works {
  background-color: #232626;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
}
.home-container .how-it-works .section-title {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.home-container .how-it-works .steps-container .step {
  text-align: center;
  margin: 1rem 0;
}
.home-container .how-it-works .steps-container .step .step-icon {
  width: 30px;
  height: auto;
  margin-bottom: 0.5rem;
}
.home-container .how-it-works .steps-container .step .step-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.home-container .how-it-works .steps-container .step .step-description {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .home-container .home-header {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin-top: 6rem;
  }
  .home-container .how-it-works {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  .home-container {
    padding: 0 3rem;
  }
  .home-container .home-header .home-title {
    font-size: 4rem;
    font-weight: 500;
  }
  .home-container .home-header .home-subtitle {
    font-size: 1.8rem;
  }
  .home-container .home-header .home-buttons {
    max-width: 400px;
    height: 50px;
  }
  .home-container .home-header .home-buttons .btn-primary,
  .home-container .home-header .home-buttons .btn-secondary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
  }
  .home-container .how-it-works {
    padding: 2rem;
    border-radius: 15px;
  }
  .home-container .how-it-works .steps-container .step {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0;
  }
  .home-container .how-it-works .steps-container .step .step-icon {
    width: 45px;
  }
  .home-container .how-it-works .steps-container .step .step-content {
    display: flex;
    flex-direction: column;
    width: 230px;
  }
  .home-container .how-it-works .steps-container .step .step-content .step-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .home-container .how-it-works .steps-container .step .step-content .step-description {
    font-size: 1rem;
    text-align: left;
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #333;
}
.profile-container .profile-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.profile-container .profile-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.profile-container .profile-button {
  padding: 0.75rem 1.5rem;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-container .profile-button:hover {
  background-color: #1558b0;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #132D3E 0%, #2C3536 47%, #BCBDB4 84%);
  color: #FFFFFF;
}
.register-container .register-left {
  text-align: center;
}
.register-container .register-left .register-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.register-container .register-left .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.register-container .register-left .register-form .register-input {
  padding: 0.75rem;
  border: 1px solid #605E5E;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #1F201F;
  color: white;
}
.register-container .register-left .register-form .password-container {
  position: relative;
}
.register-container .register-left .register-form .password-container .register-input {
  width: 100%;
  padding-right: 2.5rem;
}
.register-container .register-left .register-form .password-container .eye-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.register-container .register-left .register-form .register-button {
  padding: 0.75rem;
  background-color: #1F201F;
  color: white;
  border: 1px solid #605E5E;
  border-radius: 69px;
  font-size: 0.875rem;
  cursor: pointer;
}
.register-container .register-left .register-form .register-button:hover {
  background-color: #333;
}
.register-container .register-left .register-social {
  margin-top: 1rem;
  text-align: center;
}
.register-container .register-left .register-social .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.register-container .register-left .register-social .separator img {
  width: 100px;
  height: 2px;
}
.register-container .register-left .register-social .separator span {
  font-size: 0.875rem;
  color: #FFFFFF;
}
.register-container .register-left .register-social .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.register-container .register-left .register-social .social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.register-container .register-left .login-register {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #C6C6C6;
}
.register-container .register-left .login-register a {
  color: #3A7EF9;
  text-decoration: none;
}
.register-container .register-left .login-register a:hover {
  text-decoration: underline;
}
.register-container .register-right {
  margin-top: 1rem;
  text-align: center;
  position: relative;
}
.register-container .register-right .blur-background {
  display: none;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -100px;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 0;
  border-radius: 40px;
}
.register-container .register-right .info-text {
  margin-bottom: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-container .register-right .info-text h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
}
.register-container .register-right .info-text p {
  font-size: 0.85rem;
  line-height: 1.5;
  text-align: center;
}
.register-container .register-right .reviewers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  z-index: 1;
}
.register-container .register-right .reviewers .reviewers-image {
  max-width: 100px;
  height: auto;
}
.register-container .register-right .reviewers .reviewers-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-container .register-right .reviewers .reviewers-info .stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.register-container .register-right .reviewers .reviewers-info .stars img {
  width: 20px;
  height: 20px;
}
.register-container .register-right .reviewers .reviewers-info .stars span {
  font-size: 1rem;
  font-weight: bold;
}
.register-container .register-right .reviewers .reviewers-info p {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-align: center;
}

@media (min-width: 768px) {
  .register-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .register-container .register-left {
    flex: 1;
    padding: 1rem;
  }
  .register-container .register-left .register-title {
    font-size: 2rem;
  }
  .register-container .register-left .register-form {
    max-width: 350px;
  }
  .register-container .register-left .register-form .register-input {
    font-size: 1rem;
  }
  .register-container .register-left .register-form .password-container .eye-icon {
    width: auto;
    height: auto;
  }
  .register-container .register-left .register-form .register-button {
    font-size: 1rem;
  }
  .register-container .register-left .login-register {
    font-size: 1rem;
  }
  .register-container .register-left .register-social .social-icons img {
    width: 35px;
    height: 35px;
  }
  .register-container .register-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    position: relative;
    margin-right: 1rem;
  }
  .register-container .register-right .blur-background {
    display: block;
  }
  .register-container .register-right .info-text h2 {
    font-size: 2rem;
  }
  .register-container .register-right .info-text p {
    font-size: 1.125rem;
  }
  .register-container .register-right .reviewers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .register-container .register-right .reviewers img {
    flex-shrink: 0;
    width: 40%;
    max-width: 250px;
    height: auto;
  }
  .register-container .register-right .reviewers .stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .register-container .register-right .reviewers .stars img {
    width: 25px;
    height: 25px;
  }
  .register-container .register-right .reviewers .stars p {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .register-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .register-container .register-left {
    flex: 1;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .register-container .register-left .register-title {
    font-size: 2.5rem;
  }
  .register-container .register-left .login-register {
    font-size: 1.125rem;
  }
  .register-container .register-left .register-form {
    max-width: 400px;
  }
  .register-container .register-left .register-form .register-input {
    font-size: 1.125rem;
  }
  .register-container .register-left .register-form .password-container .eye-icon {
    height: auto;
  }
  .register-container .register-left .register-form .register-button {
    font-size: 1.125rem;
  }
  .register-container .register-left .register-social {
    margin-top: 1.5rem;
  }
  .register-container .register-left .register-social span {
    font-size: 1rem;
  }
  .register-container .register-left .register-social .social-icons img {
    width: 40px;
    height: 40px;
  }
  .register-container .register-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
    max-width: 499px;
    margin-right: 8rem;
  }
  .register-container .register-right .blur-background {
    bottom: -80px;
  }
  .register-container .register-right .info-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .register-container .register-right .info-text p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .register-container .register-right .reviewers .stars img {
    width: 30px;
    height: 30px;
  }
  .register-container .register-right .reviewers .stars span {
    font-size: 1.5rem;
  }
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #132D3E 0%, #2C3536 47%, #BCBDB4 84%);
  color: #C6C6C6;
}
.login-container .login-left {
  width: 100%;
  text-align: center;
}
.login-container .login-left .login-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.login-container .login-left .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.login-container .login-left .login-form .login-input {
  padding: 0.75rem;
  border: 1px solid #605E5E;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #1F201F;
  color: white;
}
.login-container .login-left .login-form .password-container {
  position: relative;
}
.login-container .login-left .login-form .password-container .login-input {
  width: 100%;
  padding-right: 2.5rem;
}
.login-container .login-left .login-form .password-container .eye-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.login-container .login-left .login-form .login-button {
  padding: 0.75rem;
  background-color: #1F201F;
  color: white;
  border: 1px solid #605E5E;
  border-radius: 69px;
  font-size: 0.875rem;
  cursor: pointer;
}
.login-container .login-left .login-form .login-button:hover {
  background-color: #333;
}
.login-container .login-left .login-social {
  margin-top: 1rem;
  text-align: center;
}
.login-container .login-left .login-social .separator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.login-container .login-left .login-social .separator img {
  width: 100px;
  height: 2px;
}
.login-container .login-left .login-social .separator span {
  font-size: 0.875rem;
  color: #FFFFFF;
}
.login-container .login-left .login-social .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.login-container .login-left .login-social .social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.login-container .login-left .login-register {
  margin-top: 1rem;
  font-size: 0.875rem;
}
.login-container .login-left .login-register a {
  color: #3A7EF9;
  text-decoration: none;
}
.login-container .login-left .login-register a:hover {
  text-decoration: underline;
}
.login-container .login-right {
  margin-top: 1rem;
}
.login-container .login-right img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .login-container .login-left {
    flex: 1;
    padding: 1rem;
  }
  .login-container .login-left .login-title {
    font-size: 2rem;
  }
  .login-container .login-left .login-form {
    max-width: 350px;
  }
  .login-container .login-left .login-form .login-input {
    font-size: 1rem;
  }
  .login-container .login-left .login-form .password-container .eye-icon {
    width: auto;
    height: auto;
  }
  .login-container .login-left .login-form .login-button {
    font-size: 1rem;
  }
  .login-container .login-left .login-social .social-icons img {
    width: 35px;
    height: 35px;
  }
  .login-container .login-left .login-register {
    font-size: 1rem;
  }
  .login-container .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container .login-right img {
    width: 80%;
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .login-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .login-container .login-left {
    flex: 1;
    padding: 2rem;
  }
  .login-container .login-left .login-title {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .login-container .login-left .login-form {
    max-width: 400px;
  }
  .login-container .login-left .login-form .login-input {
    font-size: 1.125rem;
  }
  .login-container .login-left .login-form .password-container .eye-icon {
    height: auto;
  }
  .login-container .login-left .login-form .login-button {
    font-size: 1.125rem;
  }
  .login-container .login-left .login-social {
    margin-top: 1.5rem;
  }
  .login-container .login-left .login-social span {
    font-size: 1rem;
  }
  .login-container .login-left .login-social .social-icons img {
    width: 40px;
    height: 40px;
  }
  .login-container .login-left .login-register {
    font-size: 1.125rem;
  }
  .login-container .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-container .login-right img {
    width: 100%;
    max-width: 500px;
  }
}
.confirmemail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #333;
}
.confirmemail-container .confirmemail-content {
  text-align: center;
}
.confirmemail-container .confirmemail-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.confirmemail-container .confirmemail-button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.confirmemail-container .confirmemail-button:hover {
  background-color: #0056b3;
}
.confirmemail-container .confirmemail-message {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #555;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #333;
}
.dashboard-container .dashboard-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.dashboard-container .dashboard-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.dashboard-container .dashboard-actions {
  display: flex;
  gap: 1rem;
}
.dashboard-container .dashboard-actions .dashboard-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard-container .dashboard-actions .dashboard-button.manage-users {
  background-color: #007bff;
  color: white;
}
.dashboard-container .dashboard-actions .dashboard-button.manage-users:hover {
  background-color: #0056b3;
}
.dashboard-container .dashboard-actions .dashboard-button.manage-bookings {
  background-color: #28a745;
  color: white;
}
.dashboard-container .dashboard-actions .dashboard-button.manage-bookings:hover {
  background-color: #218838;
}

.notfound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  color: #FFFFFF;
}
.notfound-container .notfound-content {
  text-align: left;
}
.notfound-container .notfound-title {
  font-size: 2.3rem;
  font-weight: 400;
  color: #FFFFFF;
}
.notfound-container .notfound-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.5rem;
  max-width: 800px;
  width: 100%;
}
.notfound-container .notfound-image img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 1rem;
}
.notfound-container .notfound-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 250px;
  width: 100%;
}
.notfound-container .notfound-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3A7EF9;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.notfound-container .notfound-button:hover::before {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .notfound-container {
    flex-direction: row;
    padding: 2rem;
  }
  .notfound-title {
    font-size: 3rem !important;
  }
  .notfound-image img {
    max-width: 400px !important;
  }
  .notfound-button {
    padding: 0.75rem 1.5rem;
  }
}
.services-page {
  padding: 1rem;
  color: #FFFFFF;
  text-align: center;
}
.services-page .services-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.services-page .services-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services-page .service-card {
  text-align: left;
  background-color: rgba(35, 38, 38, 0.8);
  padding: 1rem;
  border-radius: 8px;
}
.services-page .service-card .service-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.services-page .service-card .service-description {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.services-page .service-card .service-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.services-page .service-card .service-button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.services-page .service-card .service-button:hover {
  color: #3A7EF9;
}
.services-page .service-icon {
  height: 40px;
  width: auto;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .services-page .services-title {
    font-size: 2rem;
    text-align: left;
  }
  .services-page .services-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  .services-page .service-card {
    flex: 0 1 calc(45% - 1rem);
  }
  .service-icon {
    max-width: 200px;
  }
}
@media (min-width: 1024px) {
  .services-page .services-title {
    font-size: 2.5rem;
    margin-left: 2.6rem;
  }
  .services-page .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto;
    border-radius: 30px;
  }
  .services-page .service-card .service-name {
    font-size: 1.5rem;
  }
  .services-page .service-card .service-description {
    font-size: 1rem;
  }
  .services-page .service-card .service-price {
    font-size: 1.25rem;
  }
  .services-page .service-card .booking-button {
    font-size: 1.1rem;
  }
}
.booking-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: #fff;
}
.booking-page .calendar-section,
.booking-page .booking-section {
  padding: 1rem;
  border-radius: 0.75rem;
}
.booking-page .calendar-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5rem;
}
.booking-page .calendar-header {
  text-align: center;
  margin-bottom: 0.5rem;
}
.booking-page .calendar-header .month-label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.booking-page .week-days-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.booking-page .week-days-wrapper .arrow-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.booking-page .week-days-wrapper .arrow-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.booking-page .week-days-wrapper .week-days {
  display: flex;
  gap: 0.5rem;
}
.booking-page .week-days-wrapper .week-days .day-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.2s ease;
}
.booking-page .week-days-wrapper .week-days .day-circle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.booking-page .week-days-wrapper .week-days .day-circle.selected {
  background-color: rgba(255, 255, 255, 0.28);
  border: none;
}
.booking-page .week-days-wrapper .week-days .day-circle.disabled {
  color: #777;
  text-decoration: line-through;
  pointer-events: none;
}
.booking-page .week-days-wrapper .week-days .day-circle .day-name {
  font-size: 0.75rem;
  text-transform: lowercase;
}
.booking-page .week-days-wrapper .week-days .day-circle .day-number {
  font-size: 0.9rem;
  font-weight: bold;
}
.booking-page .time-slots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.booking-page .time-slots .time-slot {
  background-color: rgba(35, 38, 38, 0.8);
  border-radius: 6px;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
}
.booking-page .time-slots .time-slot.selected {
  background-color: rgba(255, 255, 255, 0.28);
  font-weight: bold;
  border: none;
}
.booking-page .time-slots .time-slot.selected {
  background-color: rgba(255, 255, 255, 0.28);
  font-weight: bold;
  border: none;
}
.booking-page .time-slots.empty {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
}
.booking-page .confirm-button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(35, 38, 38, 0.8);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.booking-page .confirm-button:hover {
  background-color: #00acc1;
}
.booking-page .confirm-button:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: not-allowed;
}
.booking-page .car-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.booking-page .car-count-box {
  background-color: rgba(35, 38, 38, 0.8);
  padding: 1rem;
  border-radius: 0.75rem;
}
.booking-page .car-count-box h2 {
  margin: 0 0 0.75rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.booking-page .car-count-box .car-count-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(35, 38, 38, 0.7);
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.5rem;
}
.booking-page .car-count-box .car-count-selector button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
}
.booking-page .car-count-box .car-count-selector span {
  font-size: 1.25rem;
  font-weight: bold;
  width: 2rem;
  text-align: center;
}
.booking-page .car-service-box {
  padding: 1rem;
  border-radius: 0.75rem;
}
.booking-page .car-service-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.booking-page .car-service-box select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(35, 38, 38, 0.8);
  color: #fff;
  margin-bottom: 0.75rem;
}
.booking-page .car-service-box .optional-service {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.booking-page .car-service-box .optional-service input {
  transform: scale(1.2);
  accent-color: #1a73e8;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .booking-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 5%;
  }
  .calendar-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .calendar-section .calendar-title,
  .calendar-section .calendar-header,
  .calendar-section .week-days-wrapper,
  .calendar-section .time-slots,
  .calendar-section .confirm-button {
    align-self: center;
  }
  .calendar-section .calendar-header .month-label {
    font-size: 1.2rem !important;
  }
  .calendar-section .calendar-title {
    font-size: 2rem !important;
    margin-bottom: 1.5rem !important;
  }
  .confirm-button {
    width: 200px !important;
  }
  .week-days-wrapper {
    gap: 1rem;
  }
  .week-days-wrapper .arrow-btn {
    font-size: 1.5rem;
  }
  .week-days-wrapper .week-days {
    gap: 1rem;
  }
  .week-days-wrapper .week-days .day-circle {
    width: 45px;
    height: 45px;
  }
  .week-days-wrapper .week-days .day-circle .day-number {
    font-size: 1.2rem !important;
  }
  .time-slots {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }
  .time-slots .time-slot {
    width: 52px;
    padding: 2rem;
    text-align: center;
  }
  .time-slots.empty {
    text-align: center;
    color: #ccc;
    font-size: 1rem;
    padding: 1rem;
  }
  .time-slots.empty .empty {
    font-size: 2rem;
  }
  .booking-section {
    flex: 2;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  select {
    max-width: 100% !important;
  }
  .car-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .car-section-wrapper .car-count-box {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .booking-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8%;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .day-number {
    font-size: 1.3rem !important;
  }
  .calendar-section {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  .calendar-header,
  .week-days-wrapper,
  .time-slots {
    align-self: center;
  }
  .calendar-header .month-label {
    font-size: 1.4rem !important;
  }
  .confirm-button {
    width: 200px !important;
    align-self: left;
    font-size: 1rem !important;
  }
  .calendar-title {
    margin-left: -5rem !important;
    font-size: 2.5rem !important;
    margin-bottom: 2rem !important;
  }
  .week-days-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .week-days-wrapper .arrow-btn {
    font-size: 1.8rem !important;
  }
  .week-days-wrapper .week-days {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }
  .week-days-wrapper .week-days .day-circle {
    width: 50px !important;
    height: 50px !important;
  }
  .time-slots {
    display: grid;
    grid-template-columns: repeat(6, 1fr) !important;
    justify-content: center;
    gap: 0.75rem;
    padding-top: 1rem;
    max-width: calc(312px + 3.75rem);
  }
  .time-slots .time-slot {
    width: 69px;
    padding: 0.5rem;
    text-align: center;
  }
  .time-slots.empty {
    text-align: center;
    color: #ccc;
    font-size: 1rem;
    padding: 1rem;
  }
  .time-slots.empty .empty {
    font-size: 2rem;
  }
  .booking-section {
    max-width: 400px;
    width: 700px;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }
  .car-service-box select {
    max-width: 100% !important;
    font-size: 1rem !important;
  }
  .car-service-box label {
    font-size: 1.2rem !important;
  }
}
.faq-container {
  padding: 2rem;
  color: #fff;
  text-align: center;
}
.faq-container .faq-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.faq-container .faq-subtitle {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0 auto 1.5rem;
  max-width: 600px;
}
.faq-container .faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}
.faq-container .faq-list .faq-item {
  padding: 1rem;
  background: #232626;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.faq-container .faq-list .faq-item .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.faq-container .faq-list .faq-item .faq-question:hover {
  color: #3A7EF9;
}
.faq-container .faq-list .faq-item .faq-answer {
  margin: 1rem 0 0;
  font-size: 0.8rem;
  color: #ccc;
  text-align: left;
}

@media (min-width: 768px) {
  .faq-container {
    padding: 2rem;
  }
  .faq-container .faq-title {
    font-size: 2.25rem;
  }
  .faq-container .faq-subtitle {
    font-size: 1.2rem;
  }
  .faq-container .faq-list .faq-item .faq-answer {
    font-size: 0.9rem;
  }
  .faq-container .faq-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  .faq-container .faq-list .faq-item:nth-child(n+5) {
    grid-column: 2;
  }
}
@media (min-width: 1024px) {
  .faq-container {
    padding: 2rem 8%;
  }
  .faq-container .faq-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .faq-container .faq-subtitle {
    width: 40%;
    max-width: 800px;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  .faq-container .faq-list {
    gap: 1.5rem 3rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  .faq-container .faq-list .faq-item {
    padding: 1.25rem;
    border-radius: 15px;
  }
  .faq-container .faq-list .faq-item .faq-question {
    font-size: 1.3rem;
  }
  .faq-container .faq-list .faq-item .faq-answer {
    font-size: 1rem;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=main.css.map */